<div class="vh-70">
  <ngx-etl-list [config]="configuration" [data]="mockData"></ngx-etl-list>
</div>

<ng-template #titleTemplate let-item>
  <input class="hidden-input" [value]="item.title ?? ''" />
</ng-template>

<ng-template #createdAtTemplate let-item>
  <span>
    {{ item.createdAt }}
  </span>
</ng-template>

<ng-template #createdByTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #oneTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #twoTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #threeByTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #fourTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #fiveTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #sixTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #sevenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #eightTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #nineTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #tenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #elevenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #twelveTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #thirteenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #fourteenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>

<ng-template #fifteenTemplate let-item>
  <span>
    {{ item.createdBy }}
  </span>
</ng-template>
